*
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/* classes */

.searchbarDisplay
{
    border: 2px inset;
    border-top: 2px solid #909090;
    border-left: 2px solid #909090;
    border-right: 2px solid #F0F0F0;
    border-bottom: 2px solid #F0F0F0;
    border-radius: 10px;
    height: 55px;
    width: 40%;
}

.searchbar
{
    margin-right: -50px;
    padding-right: 50px;
    border: 0px;
    position: static;
    vertical-align: middle;
    height: 50px;
    width: 96.5%;
    font-size: 16px;
    font-family: Arial,Helvetica,sans-serif;
}

.searchbarSubmit
{
    background: url("search.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    vertical-align: middle;
    height: 40px;
    width: 40px;
}

/* index.html */

#indexMain
{
    
}

#indexLogo
{
    padding-top:10%;
    height:150px;
}

#indexSearchbarDisplay
{
    margin-top:80px;
}

#indexSearchbar
{
    margin-top: 2px;
}

/* mainpage.html */
#mainBody
{
    overflow: hidden;
}

.mainHeader
{
    margin-top: 10px;
    height: 70px;
    width: 100%;
}

#mainLogo
{
    float: left;
    padding-left: 5px;
    padding-right: 10px;
}

#mainSearchbarDisplay
{
    float: left;
    position: relative;
    margin-top: 2px;
}

#mainSearchbar
{
    margin-top: 1px;
    margin-left: 5px;
}

#addOrgAndEmp /*temp*/
{
    float: left;
    position: relative;
    margin-left: 30px;
    margin-top: 25px;
}

#mainLogin
{
    float: right;
    position: relative;
    margin-top: 15px;
}

.mainMap
{
    float: left;
    position: fixed;
    height: 100%;
    width: 100%;
}

#googlemaps
{
    height: 100%;
    width: 100%;
}

.mainTopRated
{
    right: 0px;
    position: fixed;
    overflow: scroll;
    height: 100%;
    width: 330px;
    display: block;
    background-color: #F6F6F6;
}

.mainTopRatedList
{

}

.mainTopRatedImage
{
    float: left;
    width: 60px;
}

.mainTopRatedInfo
{
    float: left;
    width: 180px;
}

.mainTopRatedMeter
{
    float: right;
    width: 60px;
}

/* organizationform.html */

/* employeeform.html */

/* organizationprofile.html */

#organizationprofileImage
{
    position: absolute;
    height: 120px;
    width: 120px;
    text-align:center;
    margin: 0px 0px 0px 0px;
}

#organizationprofileInfo
{
    position: absolute;
    height: 120px;
    width: 180px;
    text-align:center;
    margin: 0px 0px 0px 160px;
}

#organizationprofilemeter
{
    position: absolute;
    height: 100px;
    width: 300px;
    text-align:center;
    margin: 150px 0px 0px 0px;
}

#organizationprofileemployeelist
{
    position: absolute;
    height: 200px;
    width: 300px;
    text-align:center;
    margin: 270px 0px 0px 0px;
}

.organizationprofileEmployeeImage
{
    float: left;
    width: 60px;
}

.organizationprofileEmployeeInfo
{
    float: left;
    width: 180px;
}

.organizationprofileEmployeeMeter
{
    float: right;
    width: 60px;
}

#organizationprofilecomments
{
    position: absolute;
    height: 150px;
    width: 300px;
    text-align:center;
    margin: 500px 0px 0px 0px;
}

/* employeeprofile.html */

#employeeprofileImage
{
    position: absolute;
    height: 120px;
    width: 120px;
    text-align:center;
    margin: 0px 0px 0px 0px;
}

#employeeprofileInfo
{
    position: absolute;
    height: 120px;
    width: 180px;
    text-align:center;
    margin: 0px 0px 0px 160px;
}

#employeeprofilemeter
{
    position: absolute;
    height: 100px;
    width: 300px;
    text-align:center;
    margin: 150px 0px 0px 0px;
}

#employeeprofilecorruptornot
{
    position: absolute;
    height: 50px;
    width: 300px;
    text-align:center;
    margin: 270px 0px 0px 0px;
}

#employeeprofilecomments
{
    position: absolute;
    height: 150px;
    width: 300px;
    text-align:center;
    margin: 350px 0px 0px 0px;
}