*
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

body
{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/* classes */

.searchbar
{
    margin-left: 5px;
    margin-right: -60px;
    margin-top: 1px;
    border: 0px;
    height: 50px;
    width: 97.5%;
}

/* index.html */

#indexMain
{
    
}

#indexLogo
{
    height:150px;
    padding-top: 15%;
}

#indexSearchbar
{
    height:50px;
}

/* mainpage.html */
#mainBody
{
    overflow: hidden;
}

.mainHeader
{
    height: 70px;
    width: 100%;
}

#mainLogo
{
    float: left;
    padding-left: 5px;
    padding-right: 10px;
}

#mainSearchbar
{
    float: left;
    position: relative;
    margin-top: 0px;
    height: 55px;
    width: 40%;
    border: 2px inset;
    border-radius: 10px;
}

#addOrgAndEmp /*temp*/
{
    float: left;
    position: relative;
    margin-top: 15px;
}

#mainLogin
{
    /*left: 100%;
    position: absolute;*/
    float: right;
    position: relative;
}

.mainMap
{
    float: left;
    position: fixed;
    height: 100%;
    width: 100%;
}

#googlemaps
{
    height: 100%;
    width: 100%;
}

.mainTopRated
{
    right: 0px;
    position: fixed;
    overflow: scroll;
    height: 100%;
    width: 330px;
    display: block;
    background-color: #F6F6F6;
}

.mainTopRatedList
{

}

.mainTopRatedImage
{
    float: left;
    width: 60px;
}

.mainTopRatedInfo
{
    float: left;
    width: 180px;
}

.mainTopRatedMeter
{
    float: right;
    width: 60px;
}

/* organizationform.html */

/* employeeform.html */

/* organizationprofile.html */

#organizationprofileImage
{
    position: absolute;
    height: 120px;
    width: 120px;
    text-align:center;
    margin: 0px 0px 0px 0px;
}

#organizationprofileInfo
{
    position: absolute;
    height: 120px;
    width: 180px;
    text-align:center;
    margin: 0px 0px 0px 160px;
}

#organizationprofilemeter
{
    position: absolute;
    height: 100px;
    width: 300px;
    text-align:center;
    margin: 150px 0px 0px 0px;
}

#organizationprofileemployeelist
{
    position: absolute;
    height: 200px;
    width: 300px;
    text-align:center;
    margin: 270px 0px 0px 0px;
}

.organizationprofileEmployeeImage
{
    float: left;
    width: 60px;
}

.organizationprofileEmployeeInfo
{
    float: left;
    width: 180px;
}

.organizationprofileEmployeeMeter
{
    float: right;
    width: 60px;
}

#organizationprofilecomments
{
    position: absolute;
    height: 150px;
    width: 300px;
    text-align:center;
    margin: 500px 0px 0px 0px;
}

/* employeeprofile.html */

#employeeprofileImage
{
    position: absolute;
    height: 120px;
    width: 120px;
    text-align:center;
    margin: 0px 0px 0px 0px;
}

#employeeprofileInfo
{
    position: absolute;
    height: 120px;
    width: 180px;
    text-align:center;
    margin: 0px 0px 0px 160px;
}

#employeeprofilemeter
{
    position: absolute;
    height: 100px;
    width: 300px;
    text-align:center;
    margin: 150px 0px 0px 0px;
}

#employeeprofilecorruptornot
{
    position: absolute;
    height: 50px;
    width: 300px;
    text-align:center;
    margin: 270px 0px 0px 0px;
}

#employeeprofilecomments
{
    position: absolute;
    height: 150px;
    width: 300px;
    text-align:center;
    margin: 350px 0px 0px 0px;
}